<mat-card>
  <form [formGroup]="creationForm" #formDirective="ngForm" (submit)="createBlogpost(formDirective)">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="title" formControlName="title" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="sub-title" formControlName="subTitle" required>
      </mat-form-field>
      <mat-form-field appearance="fill" >
        <textarea [placeholder]="'Enter text here...'" [spellcheck]="true" formControlName="content" matInput></textarea>
      </mat-form-field>
      <button mat-button type="submit">create blog post</button>
    </div>
  </form>
</mat-card>
