<button class="btnBack" mat-raised-button color="accent" (click)="goBack()">Back</button>
<mat-card *ngIf="(blogPost$ | async) as bp; else loading" class="blog-item">
    <mat-card-header  class="no-margin">
      <mat-card-title>{{ bp.title }}</mat-card-title>
      <mat-card-subtitle>{{ bp.subtitle }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="bp.image" alt={{bp.title}}>
      <mat-card-content>
        <p [innerHTML]="bp.content"></p>
      </mat-card-content>
  </mat-card>


  <ng-template #loading>
    loading...
  </ng-template>
